<h6 class="white-textw">Dashboard</h6>
<h1 class="white-texwt" >Hi! {{name}}</h1>

{{#if stories}}
    <p class="white-texwt">Here are your ImPosts</p>
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                {{!-- for delete --}}
                <th></th>
            </tr>
        </thead>

        <tbody>
          
                {{#each stories}}

                        <tr>
                            {{!-- link to go to the story --}}
                            <td><a href="/stories/{{_id}}">{{title}}</a></td>
                            <td>{{formatDate createdAt 'dddd, MMMM Do YYYY, h:mm:ss a'}}</td>
                            <td><span class="dash-status">{{status}}</span></td>
                            <td></td>
                        </tr>


                {{/each}}
            
        </tbody>
    </table>

{{else}}

    <p>You don't have any posts yet</p>

{{/if}}