<h4 class="white-text">Dashboard</h4>
<h1 class="white-text" >Hi! {{name}}</h1>

{{#if stories}}
    <p class="white-text" > <b> Here are your ImPosts </b></p>
    <table class="striped" style="margin-bottom: 50px;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                {{!-- for delete --}}
                <th></th>
            </tr>
        </thead>

        <tbody>
          
                {{#each stories}}

                        <tr>
                            {{!-- link to go to the story --}}
                            <td><a href="/stories/{{_id}}" style="color:rgb(0, 0, 0) ;"><b>{{title}}</b></a></td>
                            <td>{{formatDate createdAt 'dddd, MMMM Do YYYY, h:mm a'}}</td>
                            <td><span class="dash-status">{{status}}</span></td>
                            <td>
                                <a href="/stories/edit/{{_id}}" class="btn btn-float transparent black-text" id="editpost"><i class="fas fa-edit "></i></a>
                                <form action="/stories/{{_id}}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                   <button type="submit" class="btn transparent red-text"> <i class="fas fa-trash "></i></button>
                                </form>
                            </td>
                        </tr>


                {{/each}}
            
        </tbody>
    </table>

{{else}}

    <p>You don't have any posts yet</p>

{{/if}}