<h1 class="white-text">ImPosts</h1>
<div class="row">
    {{#each stories}}
           {{!-- manage s12 --}}
        <div class="col s12 m4">
            <div class="card" style="background-color: rgba(242,242,242,0.5);">
                <div class="card-image">
                    {{!-- user is not populate here --}}
                    {{{editIcon user ../user _id}}}
                </div>

                <div class="card-content center-align " style="overflow-wrap: break-word;">
                    <h5>{{title}}</h5>
                    <div class="divider"></div>
                   
                    <p>{{stripTags ( truncate body 160 ) }}</p>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}" referrerpolicy="no-referrer"  alt="">
                        {{!-- give all stories of a particular user --}}
                        <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="card-action center-align">
                    <a href="/stories/{{_id}}" class="btn black">Read More</a>
                </div>
            </div>
        </div>

    {{else}}
        
        <p class="white-text">No Posts yet. Go and post some</p>

    {{/each}}
</div>